@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@media only screen and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }

    p, ol, ul, li, span {
        font-size: 24px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    .indent {
        margin-left: 10px;
    }

    .quote {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }

    ol, ul, li {
        margin-left: 10px !important;
        font-family: "Amiri";
        line-height: 1.8;
    }

    #visible {
        width: 90% !important;
    }

    img {
        width: 90% !important;
    }
}

nav {
    position: sticky;
    display: block;
    background-color: white;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0;
    z-index: 1000;
}

img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px black solid;
}

.caption {
    font-style: italic;
    text-align: center;
}

button {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

aside {
    line-height: 1.8;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 30px 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.definition {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px 30px 30px;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    line-height: 1.8;
}

.definition .title {
    text-align: center;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
}

.quote {
    margin-left: 95px;
    margin-right: 95px;
    color: rgb(80, 80, 80);
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
}

#visible {
    margin-bottom: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0px 40px 20px 40px;
    border-radius: 20px;
}

nav h1 {
    text-align: center;
    font-family: "Amiri";
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: burlywood;
    overflow-wrap: anywhere;
    transition: color 800ms;
}

a:hover {
    color: burlywood !important;
}

a:visited {
    color: black;
}

h1 {
    font-family: "Amiri";
    font-weight: 600;
}

h2 {
    font-family: "Amiri";
    font-weight: 600;
}

.center {
    text-align: center;
}

ul, ol {
    font-family: "Amiri";
}

h3 {
    font-family: "Amiri";
    font-weight: 600;
}

h4 {
    font-family: "Amiri";
    font-size: 25px;
}

h5 {
    font-family: "Amiri";
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
}

p {
    font-family: "Amiri";
}

.indent {
    margin-left: 20px;
}

.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}

.codeword {
    font-family: "Source Code Pro";
    display: inline;
}

.functionBlue {
    font-family: "Source Code Pro";
    display: inline;
    color: #00627A;
}

.keyword {
    font-family: "Source Code Pro";
    display: inline;
    color: #0033B3;
}

.annotation {
    font-family: "Source Code Pro";
    color: #9E880D;
    display: inline;
}

.error {
    font-family: "Source Code Pro";
    color: #F50000;
    display: inline;
}

code {
    font-family: "Source Code Pro";
    padding: 10px 20px 10px 40px !important;
    display: block;
    border-radius: 30px !important;
    background: rgb(244, 242, 240);
    overflow-x: scroll;
}

.globalVar {
    font-style: italic;
    font-family: "Source Code Pro";
    color: #871094;
    display: inline;
}

